/* globals.css */
@import "tailwindcss";

/* Custom Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navbar,
.hero-section,
footer {
  background-color: #DCDF6D;
}

.footer-content {
  background-color: #000000;
  border-radius: 20px;
  padding: 30px;
}